= form_for :<%= singular_table_name %>, :url => "", :html => { :id => form_id } do |f|

<% attributes.each do |attribute| -%>
  .field
    = f.label :<%= attribute.name %>
    = f.text_field :<%= attribute.name %>, :value => "${<%= attribute.name %>}"
<% end -%>

  .actions
    = f.submit
