.row
  .span16.columns
    .page-header
      %h1= t(".title")
.row
  .span16.columns
    %ul.tabs
      %li
        = link_to t("links.new", :resource => <%= classify_model_name %>.model_name.human), "#/new"

.row
  .span16.columns
    %table#<%= plural_name %>-table.zebra-striped
      %thead
        %tr
<% attributes.each do |attribute| -%>
          %th= <%= human_attribute_translate(attribute.name) %>
<% end -%>
          %th
      %tbody
