<% attributes.each do |attribute| -%>
%td ${<%= attribute.name %>}
<% end -%>

%td.links
  = link_to "", "#/${id}".html_safe, :class => "icon-eye-open", :title => t("links.show"), :alt => t("links.show")
  = link_to "", "#/${id}/edit".html_safe, :class => "icon-edit", :title => t("links.edit"), :alt => t("links.edit")
  = link_to "", "#".html_safe, :class => "destroy icon-remove", :confirm => t("links.confirm"), :title => t("links.destroy"), :alt => t("links.destroy")
