.eip-node.<%= @eip_singular_name %>-node
  = link_to t("links.close"), "#", :class => "eip-delete-node icon-remove", :confirm => t("links.confirm")
  .text
    &nbsp;

  .popover.bottom
    .arrow

    .popover-inner
      %h3.popover-title &nbsp;

      .popover-content
        %p &nbsp;

