%h3= t(".<%= @eip_plural_name %>")

.row
  #eip-list.span12.columns
    #eip-add.add_<%= @eip_plural_name %>
      .i{:class => 'icon-plus'}
      .text= t(".add_<%= @eip_singular_name %>")
.row
  #eip-form.span12.columns

